body{
    background-image: url("/images/office\ bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}
.image{
    display:block;
    margin-left :auto;
    margin-right:auto;
     padding: 40px;
    border: 4px solid red;
    margin: 60px;
    border-radius: 30px;
    background-color: pink;
    

}
.text{
    
    color:yellow;
    text-align: center;
    text-shadow: 8px 7px 10px #ff0036;
    background-color:#ffc0cb57; 
    
}
.text1{
    color:white;
    border: 4px solid brown;
    padding: 20px;
    background-color:#ffc0cb14;
    border-radius: 20px;
    
    
}
.text2{
    color:white;
    padding: 20px;
    border: 4px inset plum;
    background-color:#ffc0cb14;
    border-radius: 20px;
   

}
.text3{
    color:white;
    padding: 20px;
    border:4px solid peru;
    background-color: #ffc0cb14;
    border-radius: 20px;
}
