.box1{
    padding: 40px;
    border: 4px solid red;
    margin: 60px;
    border-radius: 30px;
    background-color: pink;
}
.box2{
    padding: 100px 50px 100px 50px; /* top right bottom left */
    border:4px solid blue;

    margin:100px 50px 100px 50px ;  /* top right bottom left */
    border: 5px solid blueviolet ;
    /* border-radius: 50px; */
}
.img{
    /* solid,dashed,double,dotted,inset,outset */
    border:13px double red;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-color:blue ;
    border-right-color: green;
    border-left-color:blue;
    border-right-color:green;
    padding: 10px;
    margin: 50;
    
    
}
