.box{
    width: 200px;
    height: 100px;
    background-color:bisque;
    text-align: center;
    border: 4px solid red;
    line-height: 100px;
    margin: 10px;
    
}
.box1{
    position:static;
}
.box2{
    position: relative;
    top:20px;
    left:200px;
}
.box3{
    position:absolute;
    top:10px;
    left:250px;
}
.box4{
    position:sticky;
    top:10px;
}
.box5{
    position:fixed;
    right: 10px;
    bottom: 10px;
}
