.hall{
    position:relative;
    width: 500px;
    height: 500px;
    background-color:aqua;
    top:100px;
    left:200px;
    border: 4px solid black;
}
#tv{
    position: absolute;
    text-align: center;
    left:150px;
    right:50px;
    height: 50px;
    width: 100px;
    background-color: blue;
    border: 4px solid red;
}
#sofa{
    position: absolute;
    text-align: center;
    top:200px;
    left: 150px;
    right: 50px;
    height: 50px;
    width: 200px;
    border: 4px solid red;
    color: white;
    background-color: black;
}
#frige{
    position:absolute;
    text-align: center;
    left:300px;
    right: 10px;
    bottom: 10px;
    border: 4px solid red;
    height: 100px;
    background-color:bisque;
}