#txt{
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 70px;
    font-weight: 700;
    position: relative;
    transform-style: preserve-3d;
    -webkit-perspective: 100px;
}
#txt >b{
    height: 80px;
    box-shadow: 0px 30px 15px gray;
    color: azure;
    background-color:purple;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform-origin: bottom;
    transform:rotateX(-85deg);
    animation: getup;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
#txt>b:nth-child(1){
    animation-delay: 0s;
}
#txt>b:nth-child(2){
    animation-delay: 0.25s;
}
#txt>b:nth-child(3){
    animation-delay: 0.50s;
}
#txt>b:nth-child(4){
    animation-delay: 0.70s;
}
#txt>b:nth-child(5){
    animation-delay: 0.80s;
}
#txt>b:nth-child(6){
    animation-delay: 1s;
}
@keyframes getup{
    10%,50%{
        transform: rotateX(0);
    }
    0%,60%,100%{
        transform: rotateX(-85deg);
    }
}



