.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    gap:10px;

}
.box{
    background-color: brown;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    color: aliceblue;
    font-weight: 900;
    font-size: 25px;
    transition: transform 1s ease ;
    display: flex;
    align-items:center;
    justify-content:center;
    
}
.box1:hover{
    transform: translate(125px ,155px);
}

.box2:hover{
    transform: translateX(125px);
   
}

.box3:hover{
    transform: translateY(125px);

}
.box4:hover{
    transform: rotate(360deg);

}
.box5:hover{
    transform: skewX(30deg);

}
.box6:hover{
    transform: scale(2);
}
.box7:hover{
    transform: rotate(50deg) scale(1.4) translateY(50px);
}